#sidebar {
  width: 250px;
  background-color: rgba(248, 249, 250, 1);
  padding: 1rem;
  display: flex;
  flex-direction: column;

  & button {
    border: 0;
    background: 0;
    color: inherit;
    text-align: left;
  }

  & .menu {

    display: flex;
    flex-direction: column;

    & .item {
      border-radius: 0.375rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
      display: flex;
      align-items: center;

      &.active {
        color: #fff !important;
        background-color: #0d6efd !important;
      }
    }

    & .section-group {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      border: 1px solid #eeeeee;
      border-radius: 0.375rem;
      padding: 0.5rem;
      font-size: .875em;
      margin-bottom: 0.3rem;

      & .item {
        background: #eeeeee;
      }
    }

    & .section-parent {
      display: block;
      padding: 0.5rem 1rem;
      background: 0 0;
      width: 100%;
      text-align: left;
    }

    & .group {

      &-parent {
        padding: 0.5rem 1rem;
        text-align: left;
        display: flex;

        &-name {
          flex-grow: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &-children {
        padding: 0 0.5rem;
      }

      &-children-list {
        display: flex;
        gap: 0.3rem;
        flex-wrap: wrap;
      }
    }
    & .item-close {
      padding: 0;
    }
  }
  & .user-panel {
    margin-top: auto;
  }
  & .header-box {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
}
